// height
$height-header: 120px;
$height-nav: 32px;
$height-search: calc($height-header - $height-nav);
$height-prevent: 18px;

// color
$primary-color1: #f6402d;
$primary-color2: #fb5533;
$white-color: #fff;
$black-color: #000;
$text-color: #333;

//font size
$fs-1: 14px;
$fs-2: 1.2rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 20px;
$fs-8: 44px;
$fs-9: 24px;

//font weight
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

//Padding
$pd-1: 25px;
$pd-2: 225px;
$pd-3: 13px;
$pd-4: 44px;
$pd-5: 100px;
$pd-6: 8px;
$pd-7: 60px;
$pd-8: 150px;
$pd-9: 5px;
$pd-10: 20px;

//Margin
$mg-0: 5px;
$mg-1: 30px;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;

//border
$bd-1: 2px;
$bd-2: 8px;
