.content {
  padding-top: 32px;
  background-color: #f5f5f5;
  padding-bottom: 120px;
  border-bottom: 4px solid $primary-color1;

  .category {
    .category__heading {
      font-size: $fs-2;
      font-weight: $fw-5;
      padding-bottom: 12px;

      i {
        margin-right: 4px;
      }
    }

    .category__list {
      margin-bottom: 20px;
    }
  }

  .home-product {
    margin-bottom: 30px;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    top: 0;
    transition: top ease 0.3s;

    &:hover {
      box-shadow: 0 0.0625rem 20px 0 rgb(0 0 0 / 5%);
      top: -2px;
    }

    .home-product__img {
      background-color: $white-color;
      padding: 8px;
      img {
        width: 100%;
        display: block;
      }
    }

    .home-product__body {
      padding: 10px;
      background-color: $white-color;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;

      h1 {
        height: 70px;
        font-size: $fs-3;
        color: $primary-color2;
      }

      h3 {
        font-size: $fs-1;
        margin-bottom: 0;
      }

      h4 {
        font-size: $fs-1;
        margin-bottom: 10px;
        line-height: 14px;
        height: 14px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }

      .home-product__price-warp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }
    }

    .home-product__buy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .home-product__btn {
        border-radius: 20px;
        border: 1px solid $black-color;
        background: none;
        padding: 2px 10px;

        &:focus {
          outline: 2px solid $primary-color1;
          border: none;
        }
      }
    }

    .home-product__favorite {
      position: absolute;
      color: $primary-color1;
      background-color: currentColor;
      font-size: $fs-1;
      top: 8px;
      left: -4px;
      padding: 2px 4px;
      min-width: 50px;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;

      span {
        color: $white-color;
      }

      &::after {
        position: absolute;
        content: "";
        display: block;
        border-top: 4px solid currentColor;
        border-left: 4px solid transparent;
        top: 100%;
        left: 0;
        filter: brightness(60%);
      }
    }
  }

  @media (min-width: 740px) and (max-width: 1023px) {
  }
}
